.chat__main__header
  .chat__main__header__left
    .chat__main__header__left__group-name
      グループ名
    .chat__main__header__left__user-name
      ユーザー名
  .chat__main__header__header__edit-button
    Edit
