.chat__side__header
  .chat__side__header__user--name
    ユーザー名
  .chat__side__header__icon
    =link_to "url" do
      =fa_icon 'edit'
  .chat__side__header__icon
    =link_to "url" do
      =fa_icon 'cog'
