.main-content__main-footer
  %form.footer-form
    %input.message{type: "text", placeholder: "type a message"}
    %label{for: "message-image"}
      %input.image{type: "file", accept: "image/*", id: "message-image"}
      %i.fa.fa-picture-o.icon
    %input.submit{type: "submit", value: "Send"}

    