.main-content__header
  .main-content__header--left
    .group-name
      test-group
    .user-name
      Member : test-user
  .main-content__header--edit-button
    %input.submit{type: "submit", value: "Edit"}
    
