.main-content__main-message
  .main-content__main-message--upper
    .user-name
      test-user
    .date
      2019/09/03(Tue) 20:20:20
  .main-content__main-message--comment
    こんにちは！
  -# 以下見た目を合わせるための繰り返し
  .main-content__main-message--upper
    .user-name
      test-user
    .date
      2019/09/03(Tue) 20:20:21
  .main-content__main-message--comment
    こんにちは！