.side-content__side-header
  .side-content__side-header--user-name
    test-user
  .side-content__side-header--box
    =link_to "url" do
      %i.fa.fa-edit.icon
    =link_to "url" do
      %i.fa.fa-cog.icon