.chatspace
  .side-content
    = render partial: "devise/shared/side_bar"
    -# = render partial: "side-header"
    -# = render partial: "side-list"
  .main-content
    = render partial: "devise/shared/main_content"
    -# = render partial: "main-header"
    -# = render @messages
    -# = render partial: "main-footer"