.chatspace
  .side-content
    = render partial: "devise/shared/side_bar"
    -# = render partial: "side-header"
    -# = render partial: "side-list"
  .main-content
    = render partial: "main-header"
    = render partial: "main-message"
    = render partial: "main-footer"