@import "reset";
@import "font-awesome";
@import "variable";
@import "side";
@import "main";
@import "./users.scss";
@import "./flash.scss";
@import "./group.scss";

.navigertion{
    color: $t-white;
    background-color: $light-blue;
    text-align: center;
}

.chatspace{
  display: flex;
  height: 100vh;
  width: 100vw;
}